<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Festmény címe: <%= painting.title %></h2>
    <p>Elkészítés éve: <%= painting.year %></p>
    <% if (painting.on_display == 1) { %>
        <p>A festmény ki van állítva valahol</p>
    <% } else { %>
        <p>A festmény nincs kiállítva sehol</p>
    <% } %>
    <br>
    <br>
    <form action="/paintings/<%= painting.id %>/delete" method="post">
        <input type="submit" value="Festmény törlése">
    </form>
    <form action="/paintings/<%= painting.id %>/update" method="post">
        <input type="submit" value="Festmény frissítése">
    </form>
</body>
</html>